body{
	
	background-color: #cacfff;
	
}

h1{
	color: #1e2b8f;
}

h3{
	color: #2b3cbb;
}

h4{
	color: #2b3cbb;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:60%;


} 

.button{
	color: white;
}


